.modal {

    &__wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0 , .5);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;

        transition: all .2s ease-in-out;
        &-show {
            visibility: visible;
            opacity: 1;
            // animation: .5s fadeIn;
            // animation-fill-mode: forwards;
        }
    }

    &__box {
        width: 500px;
        background-color: #fff;
    }

    &__header, &__footer {
        padding: 1rem;
        border-top: var(--line);
        border-bottom: var(--line);
    }

    &__header {
        &-title {
            margin: 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;

        &-button {
            border: none;
            cursor: pointer;
            transition: all .2s;

            &-close {
                padding: 1rem 2rem;
                background-color: var(--color-grey-light-1);
                color: var(--color-grey-dark-1);
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__body {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        &-icon {
            align-self: center;
            // justify-self: center;
            width: 6.5rem;
            height: 6.5rem;
            margin-bottom: 1rem;
            
            &-success {
                fill: var( --color-green-dark-1);
            }

            &-error {
                fill: var(--color-error-1) ;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}