@use '/src/index';

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width:index.$bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }

    .logo {
        height: 3.25rem;
        margin-left: 2rem;

        &:hover {
            cursor: pointer;
        }
    }

    .search {
        flex: 0 0 40%;

        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width:index.$bp-smallest) {
            order: 1;
            flex: 0 0 100%;
            background-color: var(--color-grey-light-2);
        }

        &__type {
            border: none;
            outline: none;
            color: inherit;
            transform: translateX(9rem);
            background: transparent;
            // transition: all .3s;

            option {
                border: none;
                outline: none;
                color: inherit;
                background-color: inherit;

                &:hover {
                    color: black;
                }
            }
        }

        &__input {
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            background-color: var(--color-grey-light-2);
            border: none;
            padding: .7rem 2rem;
            border-radius: 100px;
            width: 90%;
            transition: all .2s;
            margin-right: -3.25rem;
            // margin-left: 3rem;
            // padding-left: 10rem;

            &:focus {
                outline: none;
                width: 100%;
                // background-color: var(--color-grey-light-3);
            }

            &::-webkit-input-placeholder {
                font-weight: 100;
                color: var(--color-grey-light-4);
            }
        }

        &__input:focus+&__button {
            background-color: var(--color-grey-light-3);
        }

        &__button {
            border: none;
            background-color: var(--color-grey-light-2);

            &:focus {
                outline: none;
                // background-color: var(--color-grey-light-3);
            }

            &:active {
                transform: translateY(2px);
            }
        }

        &__icon {
            height: 2rem;
            width: 2rem;
            fill: var(--color-grey-dark-3);
        }
    }

    .user-nav {
        position: relative;
        align-self: stretch;

        display: flex;
        align-items: center;

        &>* {
            padding: 2rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;

            @media only screen and (max-width:index.$bp-smallest) {
                padding: 1rem 2rem;
            }
        }

        &>*:hover {
            background-color: var(--color-grey-light-2);
        }

        &__icon-box {
            position: relative;

            &:hover+.nav-content {
                visibility: visible;
                height: 15rem;
            }
        }

        .nav-content {
            position: absolute;
            background-color: #fff;
            width: 25rem;
            max-width: 25rem;
            height: 0;
            top: 7rem;
            left: -.25rem;
            padding: 4rem;
            overflow: auto;
            visibility: hidden;
            transition: height .2s;
            z-index: 15;

            &__list {
                list-style: none;

                &-item {
                    padding: .5rem;
                    border-bottom: var(--line);
                    color: var(--color-primary);
                }
            }

            &:hover {
                visibility: visible;
                height: 15rem;
            }
        }

        &__icon {
            height: 2.25rem;
            width: 2.25rem;
            fill: var(--color-grey-dark-2);
        }

        &__notification {
            font-size: .8rem;
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 50%;
            background-color: var(--color-primary);
            color: #fff;
            position: absolute;
            top: 1.5rem;
            right: 1.1rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }


        &__user-photo {
            height: 3.75rem;
            border-radius: 50%;
            margin-right: 1rem;
        }
    }
}